<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Areas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Areas</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>
    Registro de Areas
  </h3>

  <form>
    <ion-item>
      <ion-label position="floating">Departamentos</ion-label>
      <br>
      <ion-input [(ngModel)]="coordinacion" name="coordinacion" placeholder="Ciencias..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <br>
      <ion-input [(ngModel)]="descripcion" name="descripcion" placeholder="Ciencias Naturales"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="saveArea()">Guardar</ion-button>
    <ion-button expand="full" (click)="clearForm()"color="danger">Cancelar</ion-button>
  </form>

  <h3>Areas Creadas</h3>
  <ion-list>
    <ion-item *ngFor="let area of areas; let i = index">
      <ion-label>
        <h2>{{ area.coordinacion }}</h2>
        <p>{{ area.descripcion }}</p>
      </ion-label>
      <ion-button color="danger" (click)="deleteArea(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="danger" (click)="clearAreas()">Eliminar Todos los Registros</ion-button>

</ion-content>