#table-students {
    display: block;
}

#list-students {
    display: none;
}

ion-grid {
    margin: 1rem;
    text-align: center;

    ion-row {
        border-bottom: 1px solid #ccc;

        ion-col {
            padding: 0.5rem;
            font-size: 0.9rem;

            &:first-child {
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 768px) {
    #table-students {
        display: none;
    }

    #list-students {
        display: block;
    }
}
